In [49]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [50]:
# Load the dataset

data  = pd.read_csv("Churn_Modelling.csv")

data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [51]:
## Preprocess the data 
## Drop irrelevant columns

data = data.drop(['RowNumber','CustomerId','Surname', 'Exited'],axis=1)

data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [52]:
## Encode categorical variables

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64
9996,516,France,1,35,10,57369.61,1,1,1,101699.77
9997,709,France,0,36,7,0.00,1,0,1,42085.58
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52
9999,792,France,0,28,4,130142.79,1,1,0,38190.78

In [53]:
## Onehot encode Geography

from sklearn.preprocessing import OneHotEncoder

onehot_encoder_geo = OneHotEncoder()

geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()

geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [54]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [55]:
geo_encoded_df = pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [56]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0

In [57]:
## Save the encoder and scaler

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [58]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0

In [59]:
## Divide the dataset into independent and dependent features

X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

## Split the data in training and testing sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [60]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [61]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [62]:
y_test

6252     41788.37
4684    146379.30
1731     58561.31
4742    170679.74
4521    114669.79
          ...
6412     45038.29
8285    109895.16
7853     33373.26
1095     76755.99
6929    107674.30
Name: EstimatedSalary, Length: 2000, dtype: float64

In [63]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN IMPLEMENTATION

In [64]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense 
from tensorflow.keras.callbacks import EarlyStopping
#, Tensorboard
import datetime

In [65]:
## Building our ANN Model

(X_train.shape[1],)

(11,)

In [66]:
## Build our ANN Model

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # No activation, because we are predicting a real number (salary)
])

In [67]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                768

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2881 (11.25 KB)
Trainable params: 2881 (11.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [68]:
import tensorflow 

opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

loss

In [69]:
## compile the model

model.compile(optimizer='adam', loss='mean_squared_error')

In [73]:
## Train the model

from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau, ModelCheckpoint

early_stop = EarlyStopping(monitor='val_loss', patience=20, restore_best_weights=True)
reduce_lr = ReduceLROnPlateau(monitor='val_loss', patience=10, factor=0.5)
checkpoint = ModelCheckpoint('best_model.h5', monitor='val_loss', save_best_only=True)

history = model.fit(X_train, y_train, epochs=300, batch_size=32, validation_split=0.2, callbacks=[early_stop, reduce_lr, checkpoint])
# history = model.fit(
#     X_train,y_train,validation_data=(X_test,y_test),epochs=100, callbacks=[early_stopping_callback]
# )

Epoch 1/300
200/200 [==============================] - 1s 4ms/step - loss: 3288672768.0000 - val_loss: 3311935744.0000 - lr: 0.0010
Epoch 2/300
 24/200 [==>...........................] - ETA: 0s - loss: 3406041344.0000

c:\Users\FINE COMPUTERS\Desktop\Churn Prediction\Class 13\venv\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

200/200 [==============================] - 1s 4ms/step - loss: 3288160000.0000 - val_loss: 3312147456.0000 - lr: 0.0010
Epoch 3/300
200/200 [==============================] - 1s 4ms/step - loss: 3288221952.0000 - val_loss: 3313069056.0000 - lr: 0.0010
Epoch 4/300
200/200 [==============================] - 1s 4ms/step - loss: 3287866624.0000 - val_loss: 3312395008.0000 - lr: 0.0010
Epoch 5/300
200/200 [==============================] - 1s 3ms/step - loss: 3287611392.0000 - val_loss: 3312304896.0000 - lr: 0.0010
Epoch 6/300
200/200 [==============================] - 1s 5ms/step - loss: 3287237376.0000 - val_loss: 3313200640.0000 - lr: 0.0010
Epoch 7/300
200/200 [==============================] - 2s 7ms/step - loss: 3287071488.0000 - val_loss: 3312715264.0000 - lr: 0.0010
Epoch 8/300
200/200 [==============================] - 1s 6ms/step - loss: 3286834944.0000 - val_loss: 3312901376.0000 - lr: 0.0010
Epoch 9/300
200/200 [==============================] - 1s 5ms/step - loss: 3287027200.0000 - val_loss: 3312250368.0000 - lr: 0.0010
Epoch 10/300
200/200 [==============================] - 1s 4ms/step - loss: 3286824704.0000 - val_loss: 3313207808.0000 - lr: 0.0010
Epoch 11/300
200/200 [==============================] - 1s 6ms/step - loss: 3286256128.0000 - val_loss: 3312814592.0000 - lr: 0.0010
Epoch 12/300
200/200 [==============================] - 1s 6ms/step - loss: 3285209600.0000 - val_loss: 3312720640.0000 - lr: 5.0000e-04
Epoch 13/300
200/200 [==============================] - 1s 4ms/step - loss: 3285016832.0000 - val_loss: 3312845056.0000 - lr: 5.0000e-04
Epoch 14/300
200/200 [==============================] - 1s 5ms/step - loss: 3284958464.0000 - val_loss: 3312604928.0000 - lr: 5.0000e-04
Epoch 15/300
200/200 [==============================] - 1s 4ms/step - loss: 3284840704.0000 - val_loss: 3312493568.0000 - lr: 5.0000e-04
Epoch 16/300
200/200 [==============================] - 1s 6ms/step - loss: 3284831744.0000 - val_loss: 3312830464.0000 - lr: 5.0000e-04
Epoch 17/300
200/200 [==============================] - 1s 7ms/step - loss: 3284617472.0000 - val_loss: 3312645120.0000 - lr: 5.0000e-04
Epoch 18/300
200/200 [==============================] - 1s 6ms/step - loss: 3284577280.0000 - val_loss: 3312964352.0000 - lr: 5.0000e-04
Epoch 19/300
200/200 [==============================] - 1s 7ms/step - loss: 3284396544.0000 - val_loss: 3313296896.0000 - lr: 5.0000e-04
Epoch 20/300
200/200 [==============================] - 2s 9ms/step - loss: 3284254976.0000 - val_loss: 3313296128.0000 - lr: 5.0000e-04
Epoch 21/300
200/200 [==============================] - 2s 9ms/step - loss: 3284365568.0000 - val_loss: 3313066752.0000 - lr: 5.0000e-04

In [74]:
model.save('model.h5') # .keras